/* global css */

header ul{
  display: flex;
  margin:0;
  padding:0;
  list-style: none;
}

header ul a{
  color:black;
  padding:0 12px;
  text-decoration: none;
}



select.ofer option:hover {
  /* background-color: yellow; */
  /* background-color: red !important;
  box-shadow: 0 0 10px 100px #1882A8 inset !important; */
}